body{
    font-family: roboto, sans-serif ;
    font-style: normal;
    color: #212121;
}

.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.wedo{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.wedo-head{

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.wedo-text{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}

.title-name{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;}

.header-options{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;


}
.header-options-tel{

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: #757575; 
}
.header-options:hover,
.header-options:focus,
.footer-white:hover,
.footer-grey:hover,
.footer-white:focus,
.footer-grey:hover
{
    color: #2196F3;
}

.main-text{
 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: #2F303A;
    color: #FFFFFF;
}
.main-btn{

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}

.staff-name{

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.staff-position{

font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.footer-white{

font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
background-color: #2F303A;

color: #FFFFFF;
}
.footer-grey{

font-weight: 400;
font-size: 14px;
line-height: 1.71;
background-color: #2F303A;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
    }

.main-bcg{
    background-color: #2F303A;
}

.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn-portfolio [
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
]
.staff{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}